@use '../components/buttons' as b;
@use '../rest/variables' as v;
@use '../rest/mixins' as m;

#main-home::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: 0.5);
}

#main-home {
  position: relative;
  background-image: url("../../../images/wd40.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  // I can't understant why below div can't be in front of shadow background when using ID or CLASS. Bialy L
  div {
    z-index: 1;
    @include m.flex-column;
    color: v.$clr-text-light;
    height: 100%;
    width: 100%;
    max-width: v.$l-screen;
    margin-inline: auto;
    text-align: center;

    h1 {
      font-size: v.$fs-xlarge;
    }

    p {
      font-size: v.$fs-normal;
      padding: 0 0 2rem 0;
    }

    a, a:visited {
      color: v.$clr-primary;
    }
    
  }

}

#home-section {
  width: 100%;
  max-width: v.$l-screen;
  margin-inline: auto;
  text-align: center;
  margin: 5rem auto;

  h2 {
    font-size: v.$fs-large;
  }
  
  #grid {    
    display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    align-items: center;
    gap: .5rem;
    
    .grid-box {
      @include m.flex-column;
      margin: 3rem 2rem;
    
      h3 {
        margin: 1.5rem 0 .5rem 0;
      }      

      a {
        margin-top: .5rem;
      }
    
    }
  }
}

#contact-section::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: 0.5);
}

#contact-section {
  position: relative;
  background-image: url("../../../images/_MG_4801.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  div {
    z-index: 2;
    color: v.$clr-primary;
    @include m.flex-column;
    padding: 1rem .5rem .5rem .5rem;

    #contact-title {
      
      h2 {
        font-size: v.$fs-large;
        margin-top: 2rem;
      }
    }

    #contact-content {
      width: 100%;

      #contact-boxes {
        @include m.flex-column;
        width: 100%;

        .box {
          font-size: v.$fs-normal;
          margin-bottom: 2rem;

          img {
            margin-bottom: 1rem;
          }
        }
      }
    }
  } 
//     div {
//       z-index: 2;
//       @include m.flex-column;
//       color: v.$clr-primary;
//       width: auto;
//       // margin: 1.5rem auto 3rem auto;
//       height: 100%;
//       // color: v.$clr-text-dark;
      
//       #contact-title {
//         h2 {
//           font-size: v.$fs-large;
//         }
//       }
      
//       #contact-content {
//         text-align: center;
//         width: 50%;

//         #contact-boxes {
//           @include m.flex-column;
//           justify-content: space-between;
//           flex-wrap: wrap;
//           width: 100%;
//           height: 100%;
                
//           .box {
//             @include m.flex-row;
//             // flex-wrap: wrap;
//             width: 100%;
//             margin-top: 3rem; 
//             font-size: v.$fs-normal;
//             font-weight: v.$fw-bold;

//             img {
//               width: 30%;
//             }
//             p {
//               // width: 60%;
//             }
//           }
//         }
//       }  
//   }
}


@media (max-width: 510px) {
  #main-home {
    #main-hero {

      h1 {
        line-height: 5.5rem;
        margin-bottom: 1rem;
      }

      p {
        margin-inline: 1rem;
      }
    }    
  }

  #home-section {
    h2 {
      font-size: v.$fs-slarge;
    }
    
    #grid {
      .grid-box {
        margin: 1.75rem 2rem;
        font-size: v.$fs-bsmall;

      h3 {
          font-size: v.$fs-medium;
        }
      }
    }
  }

  // #contact-section {
  //   div {
  //     #contact-content {
  //       #contact-boxes {                
  //         width: 100%;
          
  //         .box {
  //           @include m.flex-column;
  //           text-align: center;
  //           width: 100%;
            
  //           p {
  //           width: 100%;
  //           }
  //         }
  //       }
  //     }
  //   }
  // }

}