@use '../components/buttons' as b;
@use '../rest/variables' as v;
@use '../rest/mixins' as m;

#main-privacy {
  margin: 2rem 0;
  max-width: calc(#{v.$l-screen} - 10rem);
  margin-inline: auto;

  ol > li::marker {
    font-weight: bold;
  }

  p {
    margin: 0.5rem 0 1rem 0;
  }

  #terms-last-edit {
    margin-top: 3rem;
    text-align: right;
  }
}

@media (max-width: 510px) {
  #main-privacy {
    max-width: 90%;
    margin: 1rem 2rem;
  }
}