@use 'rest/reset';
@use 'rest/mixins' as m;
@use 'rest/variables' as v;
@use 'components/buttons';
@use 'pages/home';
@use 'pages/contact';
@use 'pages/privacy';
@use 'pages/terms';


// General style start

body {
  font-family: v.$ff;
  font-size: 100%;
  background-color: v.$clr-primary;
  width: 100%;
  line-height: v.$font-line-height;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.svgs {
  max-width: 5rem;
  filter: v.$clr-svg;
}



// General style end

// Header style start

header {
  grid-area: header;
  @include m.flex-row;
  width: 100%;
  max-width: 1140px;
  min-height: v.$nav-height;
  margin: 0 auto;
  padding: 0.7rem;

  img {
    max-width: 6.875rem;
  }

  ul {
    @include m.flex-row;
    max-width: 100%;
    list-style: none;

    li {
      padding-inline: 1rem;
    }
  }

}

// Header style end

// Hamburger menu start

header {

  span {
    margin: 2.5px 0;
  }
  
  .toggle-btn {
    position: absolute;
    top: 1.6rem;
    right: 1rem;
    @include m.flex-column;
    display: none;
    width: 30px;
    height: 2rem;

    .bar {
      height: 3px;
      width: 2rem;
      background-color: v.$clr-accent;
      border-radius: 10px;
    }
  }

}

// Hamburger menu end

// Footer style start


footer {
  height: v.$footer-height;
  width: 100%;
  @include m.flex-column;
  justify-content: space-between;

  #copy {
    font-size: v.$fs-xsmall;
  }

  span {
    display: block;
    height: 1px;
    background-color: v.$clr-secondary;
    width: 100%;
  }

  div {
    @include m.flex-column;
    font-size: v.$fs-small;
    margin-top: 1rem;
    
    a {
      color: v.$clr-text-dark;
      margin: .2rem;
    }
  }
}

// Sooter style end


@media (max-width: 510px) {
  header {
    flex-direction: column;
    align-items: flex-start;

    nav {
      width: 100%;
            
      .nav-links {
        display: none;
      
        li {
          margin-top: 1rem;
          padding: .5rem 1rem;
        }
      
      }      

      .nav-links-active {
        @include m.flex-column;
        text-align: center;
        width: 100%;        
      }
    }

    .toggle-btn {
      @include m.flex-column
    }
  }

  #contact-section {
    #contact-content {
      #contact-img {
        display: none;
      }

      #contact-boxes {
        max-width: 510px;
        
        .box {
          @include m.flex-column;
          margin: 2rem auto;

          img {
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}